:root {
    --main-padding: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    height: 100vh;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

nav {
    background: darkolivegreen;
    grid-area: nav;
    padding: var(--main-padding);
}

main {
    background: darkslategray;
    grid-area: main;
    padding: var(--main-padding);
}

#sidebar {
    background: aqua;
    grid-area: sidebar;
    padding: var(--main-padding);
}