:root {
    --main-padding: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar footer footer footer";
    gap: 10px;
    height: 100vh;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

nav {
    background: darkolivegreen;
    grid-area: nav;
    padding: var(--main-padding);
}

main {
    background: darkslategray;
    grid-area: main;
    padding: var(--main-padding);
}

#sidebar {
    background: aqua;
    grid-area: sidebar;
    padding: var(--main-padding);
}

#content1 {
    background: slateblue;
    grid-area: content1;
    padding: var(--main-padding);
}

#content2 {
    background: tomato;
    grid-area: content2;
    padding: var(--main-padding);
}

#content3 {
    background: deeppink;
    grid-area: content3;
    padding: var(--main-padding);
}

footer {
    background: dodgerblue;
    grid-area: footer;
    padding: var(--main-padding);
}