:root {
    --primary-color: #5941A9;
    --dark-color: #1D1128;
    --light-color: #E5D4ED;
    --shadow: 0 1px 5px rgb(36, 18, 15);
}

* {
    margin: 0;
    padding: 0;
}

nav ul {
    display: grid;
    list-style: none;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
}

nav a {
    display: block;
    padding: 0.8rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.7em;
    background: var(--light-color);
    color: var(--dark-color);
    text-transform: uppercase;
    box-shadow: var(--shadow);
}

nav a:hover {
    background: var(--dark-color);
    color: var(--primary-color);
    transform: translateY(-3px) scale(1.1);
    transition-duration: 0.3s;
}

nav a:active {
    transform: translateY(3px) scale(1);
}

body {
    background: var(--primary-color);
    margin: 30px;
    line-height: 1.4;
    font-family: 'Ubuntu', sans-serif;
}

.btn {
    background: var(--dark-color);
    color: white;
    padding: 0.6rem;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    display: grid;
    gap: 20px;
}

.main-container {
    display: grid;
    grid-template-areas:
    "showcase showcase showcase top-box-a"
    "showcase showcase showcase top-box-b";
    gap: 20px;
}

.top-box {
    background: var(--light-color);
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-shadow: var(--shadow);
}

.top-box .price {
    font-size: 2.5rem;
}

.top-box-a {
    grid-area: top-box-a;
}

.top-box-b {
    grid-area: top-box-b;
}

.showcase {
    min-height: 400px;
    background: url('../img/paneel.png');
    background-size: cover;
    background-position: center;
    padding: 3rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
    grid-area: showcase;
}

.showcase h1 {
    font-size: 4rem;
    background-color: var(--primary-color);
    padding: 0.5rem;
}

.showcase p {
    background-color: var(--primary-color);
    margin-bottom: 1rem;
    padding: 0.5rem;
}

@media (max-width: 768px) {
    body {
        margin: 0;
    }
    nav a {
        box-shadow: none;
    }

    nav ul {
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }

    .main-container {
        grid-template-areas: 
        "showcase"
        "top-box-a"
        "top-box-b";
    }
}

@media (max-width: 550px) {
    nav ul {
        grid-template-columns: 1fr;
    }
    nav a {
        font-size: 1rem;
        padding: 0.3rem;
    }
}